USE [SIS_Activity]
GO
/****** Object:  StoredProcedure [dbo].[CREATE_WORKFLOW]    Script Date: 08/06/2023 12:56:04 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[CREATE_WORKFLOW] (@JSON nVARCHAR(MAX))
AS
BEGIN

	DECLARE @TR_CREATE_WORKFLOW nVARCHAR(MAX);
	DECLARE @WORKFLOWREQUEST nVARCHAR(MAX)
	DECLARE @WorkFlowApproval AS nVARCHAR(MAX)
	DECLARE @WFID BIGINT
	DECLARE @WORKFLOWID TABLE (ID BIGINT)

BEGIN TRANSACTION @TR_CREATE_WORKFLOW
	BEGIN TRY

	SELECT * INTO #WFTEMP FROM OPENJSON(@JSON)

	/*
	CODE HERE
	*/

COMMIT TRANSACTION @TR_CREATE_WORKFLOW
	
	END TRY
		
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION @TR_CREATE_WORKFLOW 
	
		 SELECT CONCAT(ERROR_MESSAGE(),ERROR_SEVERITY(),ERROR_STATE())
	END CATCH

END
GO

