USE [SIS_Activity]
GO
/****** Object:  StoredProcedure [dbo].[GET_ACTIVITY]    Script Date: 8/15/2023 9:55:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GET_ACTIVITY](@AIC BIGINT)
AS
BEGIN

	--START -> DECLARING VARIABLES
	DECLARE @ACTIVEORGANIZERS NVARCHAR(MAX)
	DECLARE @ACTIVITYINFORMATION NVARCHAR(MAX)
	DECLARE @AVAILABLECDS NVARCHAR(MAX)
	DECLARE @DETAILSOFSUSPECT NVARCHAR(MAX)
	DECLARE @DETAILSOFINSTRUCTORS NVARCHAR(MAX)
	DECLARE @DETAILSOFLOCALCONTACTS NVARCHAR(MAX)
	DECLARE @FILEREFERENCES NVARCHAR(MAX)
	DECLARE @INSTITUTIONSAFFECTED NVARCHAR(MAX)
	DECLARE @ITEMSDISMISS NVARCHAR(MAX)
	DECLARE @ITEMSUSED NVARCHAR(MAX)
	DECLARE @MAINSPEAKERS NVARCHAR(MAX)
	DECLARE @MODUSOPERANDI NVARCHAR(MAX)
	DECLARE @PHOTOGRAPHS NVARCHAR(MAX)
	DECLARE @PRESIDEDOVERBY NVARCHAR(MAX)
	DECLARE @RELATEDACTIVITIES NVARCHAR(MAX)
	DECLARE @RELATEDITEMS NVARCHAR(MAX)
	DECLARE @RELATEDORGANIZATIONS NVARCHAR(MAX)
	DECLARE @SYSTEMDETAILS NVARCHAR(MAX)
	DECLARE @DETAILSOFVICTIMS NVARCHAR(MAX)
	DECLARE @INCIDENTS NVARCHAR(MAX)
	DECLARE @NARRATIVEINFORMATION NVARCHAR(MAX)
	DECLARE @NOOFINSTRUCTORS NVARCHAR(MAX)
	DECLARE @NOOFPERSONSPARTICIPATED NVARCHAR(MAX)
	DECLARE @NOOFVICTIMS NVARCHAR(MAX)
	DECLARE @ROLEWISEACCESSRESTRICTIONS NVARCHAR(MAX)
	
	--END -> DECLARING VARIABLES


	--SET PARTIAL JSON FOR ACTIVEORGANIZERS
	SET @ACTIVEORGANIZERS =
	(SELECT ISNULL((
					SELECT AO.AIC,AO.PIC,LTRIM(RTRIM(CONCAT(ISNULL(P.FirstName,' '),' ',ISNULL(P.SecondName,' '),' ',ISNULL(P.Surname,' ')))) as 'Name'
					FROM [dbo].[ActiveOrganizers] AO
					LEFT OUTER JOIN
					[SIS_Person].[dbo].[PersonInformation] P
					ON AO.PIC = P.PIC
					WHERE AO.AIC = @AIC FOR JSON AUTO),'[]'))
	SET @ACTIVEORGANIZERS = CONCAT('ActiveOrganizers:',@ACTIVEORGANIZERS)

	--SET PARTIAL JSON FOR ACTIVITYINFORMATION
	SET @ACTIVITYINFORMATION =
	(SELECT ISNULL((SELECT * FROM [dbo].[ActivityInformation] with(nolock) WHERE AIC = @AIC FOR JSON AUTO,WITHOUT_ARRAY_WRAPPER),'{}'))
	SET @ACTIVITYINFORMATION = CONCAT('ActivityInformation:',@ACTIVITYINFORMATION)

	--SET PARTIAL JSON FOR ACTIVITYINFORMATION
	SET @AVAILABLECDS =
	(SELECT ISNULL((SELECT * FROM [dbo].[AvailableCDs] with(nolock) WHERE AIC = @AIC FOR JSON AUTO),'[]'))
	SET @AVAILABLECDS = CONCAT('AvailableCds:',@AVAILABLECDS)


	SET @DETAILSOFSUSPECT =
	(SELECT ISNULL((
					SELECT DS.AIC,DS.PIC,LTRIM(RTRIM(CONCAT(ISNULL(P.FirstName,' '),' ',ISNULL(P.SecondName,' '),' ',ISNULL(P.Surname,' ')))) as 'Name',DS.[Status]
					FROM [dbo].[DetailOfSuspect] DS
					LEFT OUTER JOIN
					[SIS_Person].[dbo].[PersonInformation] P
					ON DS.PIC = P.PIC
					WHERE DS.AIC = @AIC FOR JSON AUTO),'[]'))
	SET @DETAILSOFSUSPECT = CONCAT('DetailsOfSuspects:',@DETAILSOFSUSPECT)



	--SET PARTIAL JSON FOR DETAILSOFINSTRUCTORS
	SET @DETAILSOFINSTRUCTORS =
	(SELECT ISNULL((
					SELECT X.AIC,X.PIC,X.Country,x.Name FROM
					(SELECT DI.PIC,DI.AIC,DI.Country,(RTRIM(CONCAT(ISNULL(P.FirstName,' '),' ',ISNULL(P.SecondName,' '),' ',ISNULL(P.Surname,' ')))) as 'Name'
					FROM [dbo].[DetailsOfInstructors] DI
					LEFT OUTER JOIN
					[SIS_Person].[dbo].[PersonInformation] P
					ON DI.PIC = P.PIC
					WHERE DI.AIC = @AIC) X FOR JSON AUTO),'[]'))
	SET @DETAILSOFINSTRUCTORS = CONCAT('DetailsOfInstructors:',@DETAILSOFINSTRUCTORS)


	--SET PARTIAL JSON FOR DETAILSOFLOCALCONTACTS
	SET @DETAILSOFLOCALCONTACTS =
	(SELECT ISNULL((
					SELECT DLC.AIC,DLC.PIC,LTRIM(RTRIM(CONCAT(ISNULL(P.FirstName,' '),' ',ISNULL(P.SecondName,' '),' ',ISNULL(P.Surname,' ')))) as 'Name'
					FROM [dbo].[DetailsOfLocalContacts] DLC
					LEFT OUTER JOIN
					[SIS_Person].[dbo].[PersonInformation] P
					ON DLC.PIC = P.PIC
					WHERE DLC.AIC = @AIC FOR JSON AUTO),'[]'))
	SET @DETAILSOFLOCALCONTACTS = CONCAT('DetailsOfLocalContacts:',@DETAILSOFLOCALCONTACTS)



	--SET PARTIAL JSON FOR DETAILSOFVICTIMS
	SET @DETAILSOFVICTIMS =
	(SELECT ISNULL((SELECT * FROM [dbo].[DetailsOfVictims] with(nolock) WHERE AIC = @AIC FOR JSON AUTO),'[]'))
	SET @DETAILSOFVICTIMS = CONCAT('DetailsOfVictims:',@DETAILSOFVICTIMS)
	

	--SET PARTIAL JSON FOR FILEREFERENCES
	SET @FILEREFERENCES =
	(SELECT ISNULL((SELECT * FROM [dbo].[FileReferences] with(nolock) WHERE AIC = @AIC	FOR JSON AUTO),'[]'))
	SET @FILEREFERENCES = CONCAT('FileReferences:',@FILEREFERENCES)

	--SET PARTIAL JSON FOR INCIDENTS
	SET @INCIDENTS =
	(SELECT ISNULL((SELECT * FROM [dbo].[Incidents] with(nolock) WHERE AIC = @AIC	FOR JSON AUTO),'[]'))
	SET @INCIDENTS = CONCAT('Incidents:',@INCIDENTS)

	SET @INSTITUTIONSAFFECTED =
	(SELECT ISNULL((SELECT * FROM [dbo].[InstitutionsAffected] with(nolock) WHERE AIC = @AIC FOR JSON AUTO),'[]'))
	SET @INSTITUTIONSAFFECTED = CONCAT('InstitutionsAffecteds:',@INSTITUTIONSAFFECTED)



	--SET PARTIAL JSON FOR ITEMSDISMISS
	SET @ITEMSDISMISS =
	(SELECT ISNULL((SELECT * FROM [dbo].[ItemsDismiss] with(nolock) WHERE AIC = @AIC FOR JSON AUTO),'[]'))
	SET @ITEMSDISMISS = CONCAT('itemsDismisseds:',@ITEMSDISMISS)

	--SET PARTIAL JSON FOR ITEMSUSED
	SET @ITEMSUSED =
	(SELECT ISNULL((SELECT * FROM [dbo].[ItemsUsed] with(nolock) WHERE AIC = @AIC FOR JSON AUTO),'[]'))
	SET @ITEMSUSED = CONCAT('ItemsUseds:',@ITEMSUSED)

	SET @MAINSPEAKERS =
	(SELECT ISNULL((
					SELECT MS.AIC,MS.PIC,LTRIM(RTRIM(CONCAT(ISNULL(P.FirstName,' '),' ',ISNULL(P.SecondName,' '),' ',ISNULL(P.Surname,' ')))) as 'Name'
					FROM [dbo].[MainSpeakers] MS
					LEFT OUTER JOIN
					[SIS_Person].[dbo].[PersonInformation] P
					ON MS.PIC = P.PIC
					WHERE MS.AIC = @AIC FOR JSON AUTO),'[]'))
	SET @MAINSPEAKERS = CONCAT('MainSpeakers:',@MAINSPEAKERS)


	--SET PARTIAL JSON FOR MODUSOPERANDI
	SET @MODUSOPERANDI =
	(SELECT ISNULL((SELECT * FROM[dbo].[ModusOperandi] with(nolock) WHERE AIC = @AIC FOR JSON AUTO),'[]'))
	SET @MODUSOPERANDI = CONCAT('ModusOperandi:',@MODUSOPERANDI)
	
	--SET PARTIAL JSON FOR NARRATIVEINFORMATION
	SET @NARRATIVEINFORMATION =
	(SELECT ISNULL((SELECT * FROM [dbo].[NarrativeInformation] with(nolock) WHERE AIC = @AIC ORDER BY [Date] FOR JSON AUTO),'[]'))
	SET @NARRATIVEINFORMATION = CONCAT('NarrativeInformations:',@NARRATIVEINFORMATION)

	--SET PARTIAL JSON FOR NOOFINSTRUCTORS
	SET @NOOFINSTRUCTORS =
	(SELECT ISNULL((SELECT * FROM [dbo].[NoOfInstructors] with(nolock) WHERE AIC = @AIC FOR JSON AUTO),'[]'))
	SET @NOOFINSTRUCTORS = CONCAT('NoOfInstructors:',@NOOFINSTRUCTORS)

	--SET PARTIAL JSON FOR @NOOFPERSONSPARTICIPATED
	SET @NOOFPERSONSPARTICIPATED =
	(SELECT ISNULL((SELECT * FROM [dbo].[NoOfPersonsParticipated] with(nolock) WHERE AIC = @AIC FOR JSON AUTO),'[]'))
	SET @NOOFPERSONSPARTICIPATED = CONCAT('NoOfPersonsParticipateds:',@NOOFPERSONSPARTICIPATED)
	
	--SET PARTIAL JSON FOR NOOFVICTIMS
	SET @NOOFVICTIMS =
	(SELECT ISNULL((SELECT * FROM [dbo].[NoOfVictims] with(nolock) WHERE AIC = @AIC FOR JSON AUTO),'[]'))
	SET @NOOFVICTIMS = CONCAT('NoOfVictims:',@NOOFVICTIMS)

	

	--SET PARTIAL JSON FOR PHOTOGRAPHS
	SET @PHOTOGRAPHS =
	(SELECT ISNULL((SELECT * FROM [dbo].[Photographs] with(nolock) WHERE AIC = @AIC	FOR JSON AUTO),'[]'))
	SET @PHOTOGRAPHS = CONCAT('Photographs:',@PHOTOGRAPHS)



	--SET PARTIAL JSON FOR PRESIDEDOVERBY
	SET @PRESIDEDOVERBY =
	(SELECT ISNULL((
					SELECT POB.AIC,POB.PIC,LTRIM(RTRIM(CONCAT(ISNULL(P.FirstName,' '),' ',ISNULL(P.SecondName,' '),' ',ISNULL(P.Surname,' ')))) as 'Name'
					FROM [dbo].[PresidedOverBy] POB
					LEFT OUTER JOIN
					[SIS_Person].[dbo].[PersonInformation] P
					ON POB.PIC = P.PIC
					WHERE POB.AIC = @AIC FOR JSON AUTO),'[]'))
	SET @PRESIDEDOVERBY = CONCAT('PresidedOverBys:',@PRESIDEDOVERBY)


	SET @RELATEDACTIVITIES =
	(SELECT ISNULL((SELECT X.AIC,x.[RelatedActivity(AIC)] as 'RelatedActivityAIC',x.DescriptionOfTheActivity as 'DescriptionOfTheActivity' FROM
					(SELECT RA.AIC,RA.[RelatedActivity(AIC)],A.DescriptionOfTheActivity
					FROM [dbo].[RelatedActivities] RA
					LEFT OUTER JOIN
					[dbo].[ActivityInformation] A
					ON RA.[RelatedActivity(AIC)] = A.AIC
					INNER JOIN SIS_Activity.DBO.SystemDetails ASD ON ASD.AIC=RA.[RelatedActivity(AIC)]
					WHERE ASD.IsDeleted=0 AND RA.AIC = @AIC) X FOR JSON AUTO),'[]'))
	SET @RELATEDACTIVITIES = CONCAT('RelatedActivities:',@RELATEDACTIVITIES)


	--SET PARTIAL JSON FOR RELATEDORGANIZATIONS
	SET @RELATEDORGANIZATIONS =
	(SELECT ISNULL((SELECT AO.ID,AO.AIC as 'aic',AO.OIC as'oic',AO.OrganizationCatagory as 'organizationCatagory',OO.OrganizationName as 'OrganizationName' 
	FROM [dbo].[RelatedOrganization] AO 
	inner join [SIS_Organization].[dbo].[OrganizationInformation] OO on OO.OIC=AO.OIC
	INNER JOIN SIS_Organization.DBO.SystemDetails OSD ON OSD.OIC=AO.OIC
	WHERE OSD.IsDeleted=0 AND AIC = @AIC FOR JSON PATH),'[]'))
	SET @RELATEDORGANIZATIONS = CONCAT('RelatedOrganizations:',@RELATEDORGANIZATIONS)



	--SET PARTIAL JSON FOR SYSTEMDETAILS
	SET @SYSTEMDETAILS =
	(SELECT ISNULL((SELECT s.*,
	(SELECT [DESCRIPTION] FROM SIS_GENERAL.DBO.PREDEFINED_DESKTARGET WHERE ID = S.DeskTarget) AS DeskName,
	(SELECT [DESCRIPTION] FROM SIS_GENERAL.DBO.Predefined_Subjects WHERE ID = S.Subject) AS SubjectName
	  FROM [dbo].[SystemDetails] s with(nolock) WHERE AIC = @AIC FOR JSON AUTO,WITHOUT_ARRAY_WRAPPER),'{}'))
	SET @SYSTEMDETAILS = CONCAT('SystemDetails:',@SYSTEMDETAILS)


	--SET PARTIAL JSON FOR ACCESSRESTRICTIONS 
	SET @ROLEWISEACCESSRESTRICTIONS =
	(SELECT ISNULL((SELECT * FROM [dbo].[DirectAndRoleWiseAccessRestrictions] with(nolock) WHERE AIC = @AIC FOR JSON AUTO,WITHOUT_ARRAY_WRAPPER),'{}'))
	SET @ROLEWISEACCESSRESTRICTIONS = CONCAT('RoleWiseAccessRestrictions:',@ROLEWISEACCESSRESTRICTIONS)


	SELECT CONCAT('{',@ACTIVEORGANIZERS,',',@ACTIVITYINFORMATION,',', @AVAILABLECDS,',',@DETAILSOFSUSPECT,',',@DETAILSOFINSTRUCTORS,',',@DETAILSOFLOCALCONTACTS,',',@DETAILSOFVICTIMS,',',@RELATEDACTIVITIES,',',@FILEREFERENCES,',',@INCIDENTS,',',@INSTITUTIONSAFFECTED,',',@ITEMSDISMISS,',',@ITEMSUSED,',',@MAINSPEAKERS,',',@MODUSOPERANDI,',',@NARRATIVEINFORMATION,',',@NOOFINSTRUCTORS,',',@NOOFPERSONSPARTICIPATED,',',@NOOFVICTIMS,',',@PHOTOGRAPHS,',',@PRESIDEDOVERBY,',',@RELATEDORGANIZATIONS,',',@SYSTEMDETAILS,',',@ROLEWISEACCESSRESTRICTIONS,'}')

END 

--[GET_ACTIVITY] 10215