USE [SIS_Item]
GO
/****** Object:  StoredProcedure [dbo].[GET_ITEM]    Script Date: 7/26/2023 4:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GET_ITEM](@ID BIGINT)
AS
BEGIN

	--START -> DECLARING VARIABLES
	DECLARE @DETAILSOFOWNER NVARCHAR(MAX)
	DECLARE @DETAILSOFRECOVERY NVARCHAR(MAX)
	DECLARE @FILEREFERENCES NVARCHAR(MAX)
	DECLARE @ITEMINFORMATION NVARCHAR(MAX)
	DECLARE @NARRATIVEINFORMATION NVARCHAR(MAX)
	DECLARE @PHOTOGRAPHS NVARCHAR(MAX)
	DECLARE @SYSTEMDETAILS NVARCHAR(MAX)
	DECLARE @OTHERIDENTIFYINGNUMBERS NVARCHAR(MAX)
	DECLARE @RELATEDACTIVITIES NVARCHAR(MAX)
	DECLARE @RELATEDITEMS NVARCHAR(MAX)
	DECLARE @RELATEDORGANIZATIONS NVARCHAR(MAX)
	DECLARE @RELATEDPEOPLE NVARCHAR(MAX)
	DECLARE @ROLEWISEACCESSRESTRICTIONS NVARCHAR(MAX)
	--END -> DECLARING VARIABLES



	--DECLARE @OWNERADRESS NVARCHAR(MAX) = ' '
	--SET @OWNERADRESS = (SELECT  a.[Address]
	--					  FROM (SELECT PIC,[Address],ROW_NUMBER() OVER(PARTITION BY PIC ORDER BY AddedDate DESC)rw
	--							  FROM [SIS_Person].[dbo].Addresses with(nolock)
	--							 WHERE [Type] = 'Current'
	--						   )a
	--					INNER JOIN SIS_Item.dbo.[DetailsOfOwner] do with(nolock)
	--							ON do.PIC = a.PIC
	--					 WHERE rw = 1
	--					   AND do.IIC = @ID
	--					)



	--SET PARTIAL JSON FOR DETAILSOFOWNER
	SET @DETAILSOFOWNER =
	(SELECT ISNULL((
					SELECT RP.PIC,LTRIM(RTRIM(CONCAT(ISNULL(Surname,' '),' ',ISNULL(Initials,' '),' ',ISNULL(FirstName,' '),' ',ISNULL(SecondName,' ')))) as 'Name',
						   rp.IIC,RP.Information,RP.FromDate,RP.ToDate,ID,
						   (SELECT Address 
						      FROM (SELECT PIC,[Address],ROW_NUMBER() OVER(PARTITION BY PIC ORDER BY AddedDate DESC)rw
								      FROM [SIS_Person].[dbo].Addresses with(nolock)
								     WHERE [Type] = 'Current'
									   AND PIC = rp.PIC
								   )a
							 WHERE a.rw = 1
							) 'Address'
					FROM [SIS_Item].[dbo].[DetailsOfOwner] RP with(nolock)
					LEFT OUTER JOIN [SIS_Person].[dbo].[PersonInformation] P with(nolock)
					             ON RP.PIC = P.PIC
					WHERE RP.IIC = @ID FOR JSON AUTO),'[]'))
	SET @DETAILSOFOWNER = CONCAT('DetailsOfOwners:',@DETAILSOFOWNER)




	--SET PARTIAL JSON FOR DETAILSOFRECOVERY
	SET @DETAILSOFRECOVERY =
	(SELECT ISNULL((SELECT * FROM [dbo].[DetailsOfRecovery] with(nolock) WHERE IIC = @ID FOR JSON AUTO),'[]'))
	SET @DETAILSOFRECOVERY = CONCAT('DetailsOfRecoveries:',@DETAILSOFRECOVERY)


	--SET PARTIAL JSON FOR FILEREFERENCES
	SET @FILEREFERENCES =
	(SELECT ISNULL((SELECT * FROM [dbo].[FileReferences] with(nolock) WHERE IIC = @ID FOR JSON AUTO),'[]'))
	SET @FILEREFERENCES = CONCAT('FileReferences:',@FILEREFERENCES)


	--SET PARTIAL JSON FOR ITEMINFORMATION
	SET @ITEMINFORMATION =
	(SELECT ISNULL((SELECT * FROM [dbo].[ItemInformation] with(nolock) WHERE IIC = @ID	FOR JSON AUTO,WITHOUT_ARRAY_WRAPPER ),'{}'))
	SET @ITEMINFORMATION = CONCAT('ItemInformation:',@ITEMINFORMATION)


	--SET PARTIAL JSON FOR NARRATIVEINFORMATION
	SET @NARRATIVEINFORMATION =
	(SELECT ISNULL((SELECT * FROM [dbo].[NarrativeInformation] with(nolock) WHERE IIC = @ID ORDER BY [Date] FOR JSON AUTO),'[]'))
	SET @NARRATIVEINFORMATION = CONCAT('NarrativeInformations:',@NARRATIVEINFORMATION)


	--SET PARTIAL JSON FOR PHOTOGRAPHS
	SET @PHOTOGRAPHS =
	(SELECT ISNULL((SELECT * FROM [dbo].[Photographs] with(nolock) WHERE IIC = @ID	FOR JSON AUTO),'[]'))
	SET @PHOTOGRAPHS = CONCAT('Photographs:',@PHOTOGRAPHS)


	--SET PARTIAL JSON FOR SYSTEMDETAILS
	SET @SYSTEMDETAILS =
	(SELECT ISNULL((SELECT s.*,
	(SELECT [DESCRIPTION] FROM SIS_GENERAL.DBO.PREDEFINED_DESKTARGET WHERE ID = S.DeskTarget) AS DeskName,
	(SELECT [DESCRIPTION] FROM SIS_GENERAL.DBO.Predefined_Subjects WHERE ID = S.Subject) AS SubjectName
	  FROM [dbo].[SystemDetails] s with(nolock) WHERE IIC = @ID FOR JSON AUTO,WITHOUT_ARRAY_WRAPPER),'{}'))
	SET @SYSTEMDETAILS = CONCAT('SystemDetails:',@SYSTEMDETAILS)


	--SET PARTIAL JSON FOR ACCESSRESTRICTIONS 
	SET @ROLEWISEACCESSRESTRICTIONS =
	(SELECT ISNULL((SELECT * FROM [dbo].[DirectAndRoleWiseAccessRestrictions] with(nolock) WHERE IIC = @ID FOR JSON AUTO,WITHOUT_ARRAY_WRAPPER),'{}'))
	SET @ROLEWISEACCESSRESTRICTIONS = CONCAT('RoleWiseAccessRestrictions:',@ROLEWISEACCESSRESTRICTIONS)


	--SET PARTIAL JSON FOR OTHERIDENTIFYINGNUMBERS
	SET @OTHERIDENTIFYINGNUMBERS =
	(SELECT ISNULL((SELECT * FROM [dbo].[OtherIdentifyingNumbers] with(nolock) WHERE IIC = @ID FOR JSON AUTO),'[]'))
	SET @OTHERIDENTIFYINGNUMBERS = CONCAT('IdentifyingNos:',@OTHERIDENTIFYINGNUMBERS)

	--SET PARTIAL JSON FOR RELATEDACTIVITIES
	SET @RELATEDACTIVITIES =
	--(SELECT ISNULL((SELECT * FROM [dbo].[RelatedActivity] with(nolock) 
	(SELECT ISNULL((SELECT DISTINCT RA.IIC, RA.AIC,RA.Description,RA.Type, (SELECT AI.TypeOfActivity FROM [SIS_Activity].[dbo].[ActivityInformation] AI WHERE AI.AIC = RA.AIC) 'Type' FROM [dbo].[RelatedActivity] RA with(nolock) 
	INNER JOIN SIS_Activity.dbo.SystemDetails SD ON SD.AIC = RA.AIC
	WHERE IIC = @ID AND SD.IsDeleted=0 FOR JSON AUTO),'[]'))
	SET @RELATEDACTIVITIES = CONCAT('RelatedActivities:',@RELATEDACTIVITIES)

	--SET PARTIAL JSON FOR RELATEDACTIVITIES
	SET @RELATEDORGANIZATIONS =
	(SELECT ISNULL((SELECT X.* FROM
					(SELECT RO.IIC,RO.OIC,O.OrganizationName AS 'Name'
					FROM [SIS_Item].[dbo].[RelatedOrganizations] RO
					LEFT OUTER JOIN
					[SIS_Organization].[dbo].[OrganizationInformation] O
					ON RO.OIC = O.OIC
					WHERE RO.IIC = @ID) X FOR JSON AUTO
					),'[]'))
	SET @RELATEDORGANIZATIONS = CONCAT('OrganizationInfos:',@RELATEDORGANIZATIONS)

	--SET PARTIAL JSON FOR RELATEDACTIVITIES
	SET @RELATEDPEOPLE =
	(SELECT ISNULL((
					SELECT RP.IIC,RP.PIC,LTRIM(RTRIM(CONCAT(ISNULL(P.FirstName,' '),' ',ISNULL(P.SecondName,' '),' ',ISNULL(P.Surname,' ')))) as 'Name'
					FROM [SIS_Item].[dbo].[RelatedPersons] RP
					LEFT OUTER JOIN
					[SIS_Person].[dbo].[PersonInformation] P
					ON RP.PIC = P.PIC
					WHERE RP.IIC = @ID FOR JSON AUTO),'[]'))
	SET @RELATEDPEOPLE = CONCAT('RelatedPersons:',@RELATEDPEOPLE)

	--SET PARTIAL JSON FOR RELATEDITEMS
	SET @RELATEDITEMS =
	(SELECT ISNULL((SELECT X.IIC,x.[RelatedItems(IIC)] as 'RelatedItemsIIC',x.DescriptionOfItem as 'Description' FROM
					(SELECT RI.IIC,RI.[RelatedItems(IIC)],I.DescriptionOfItem
					FROM [dbo].[RelatedItem] RI
					LEFT OUTER JOIN
					[dbo].[ItemInformation] I
					ON RI.[RelatedItems(IIC)] = I.IIC
					WHERE RI.IIC = @ID) X FOR JSON AUTO),'[]'))
	SET @RELATEDITEMS = CONCAT('RelatedItems:',@RELATEDITEMS)

	SELECT CONCAT('{',@DETAILSOFOWNER,',',@DETAILSOFRECOVERY,',',@FILEREFERENCES,',',@ITEMINFORMATION,',',@NARRATIVEINFORMATION,',',@PHOTOGRAPHS,',',@SYSTEMDETAILS,',',@OTHERIDENTIFYINGNUMBERS,',',@RELATEDACTIVITIES,',',@RELATEDORGANIZATIONS,',',@RELATEDPEOPLE,',',@RELATEDITEMS,',',@ROLEWISEACCESSRESTRICTIONS,'}')

END


--[GET_ITEM] 37
