USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[ADD_RELATED_PROFILE_TO_CASE]    Script Date: 08/06/2023 13:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADD_RELATED_PROFILE_TO_CASE](@CASEID BIGINT, @PROFILETYPE VARCHAR(MAX), @PROFILEID BIGINT, @ADDEDBY BIGINT)
AS
BEGIN

	IF @PROFILETYPE='organization'
		INSERT INTO CASEORGANIZATION(CaseID, OIC, AddedOn, AddedBy) VALUES(@CASEID, @PROFILEID, GETDATE(), @ADDEDBY)
	ELSE IF @PROFILETYPE='activity'
		INSERT INTO CASEACTIVITY(CaseID, AIC, AddedOn, AddedBy) VALUES(@CASEID, @PROFILEID, GETDATE(), @ADDEDBY)
	ELSE IF @PROFILETYPE='people'
		INSERT INTO CASEPERSON(CaseID, PIC, AddedOn, AddedBy) VALUES(@CASEID, @PROFILEID, GETDATE(), @ADDEDBY)
	ELSE IF @PROFILETYPE='item'
		INSERT INTO CASEITEM(CaseID, IIC, AddedOn, AddedBy) VALUES(@CASEID, @PROFILEID, GETDATE(), @ADDEDBY)
	SELECT '1'
	
	UPDATE [CASE] SET LastEdited = GETDATE() WHERE ID=@CASEID
END
GO
