USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[GET_SETTING]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_SETTING](@KEY NVARCHAR(MAX))
AS
BEGIN
	SELECT * FROM SETTINGS WHERE [KEY]=@KEY
END
GO
