USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[GET_PREDEFINED_TABLENAMES]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_PREDEFINED_TABLENAMES]
AS
BEGIN
--SELECT ROW_NUMBER() OVER (ORDER BY TABLE_NAME) Id,TABLE_NAME TableName FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME LIKE 'Predefined%'
SELECT ROW_NUMBER() OVER (ORDER BY TABLE_NAME) Id,UPPER(TABLE_NAME) TableName 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_NAME LIKE 'Predefined%' 
AND TABLE_NAME NOT IN ('Predefined_Subjects', 'Predefined_DeskTarget')
END
GO
