USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_USER_GROUP]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_USER_GROUP](@ID INT)
AS
BEGIN

	EXECUTE DELETE_USER_GROUP_STEPS @ID

	EXECUTE UPDATE_DESK_USER_PERMISSION

END
GO
