USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_CORRESPONDENCE]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_CORRESPONDENCE](@ID BIGINT)
AS
BEGIN
DELETE FROM [Correspondence] WHERE [ID]= @ID
END
GO
