USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[GET_APPROVAL_USERS_BY_WORKFLOW_REQUEST]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_APPROVAL_USERS_BY_WORKFLOW_REQUEST] (@WFID bigint)
AS
BEGIN
		SELECT DoUserID
		FROM SIS_General.dbo.WorkFlowApproval
		WHERE WorkflowRequestID = @WFID

END
--exec GET_APPROVAL_USERS_BY_WORKFLOW_REQUEST 46
GO
