USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[REMOVE_RELATED_PROFILE_FROM_CASE]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[REMOVE_RELATED_PROFILE_FROM_CASE](@CASEID BIGINT, @PROFILETYPE VARCHAR(MAX), @PROFILEID BIGINT, @REMOVEDBY BIGINT)
AS
BEGIN

	IF @PROFILETYPE='organization'
			DELETE FROM [CaseOrganization]
			WHERE CASEID=@CASEID 
			AND	  OIC=@PROFILEID
	ELSE IF @PROFILETYPE='activity'
			DELETE FROM CaseActivity
			WHERE CASEID=@CASEID 
			AND	  aic=@PROFILEID
	ELSE IF @PROFILETYPE='person'
			DELETE FROM CasePerson
			WHERE CASEID=@CASEID 
			AND	  pic=@PROFILEID
	ELSE IF @PROFILETYPE='item'
			DELETE FROM CaseItem
			WHERE CASEID=@CASEID 
			AND	  IIC=@PROFILEID
	SELECT '1'

	
	UPDATE [CASE] SET LastEdited = GETDATE() WHERE ID=@CASEID
END
GO
