USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[GET_RELATED_PROFILES]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_RELATED_PROFILES](@CASEID BIGINT, @PROFILETYPE VARCHAR(MAX))
AS
BEGIN
--DECLARE @CASEID INT = 20166
--DECLARE @PROFILETYPE NVARCHAR(MAX) = 'person'

	IF @PROFILETYPE='organization'
		SELECT * FROM [CaseOrganization] WHERE CASEID=@CASEID
	ELSE IF @PROFILETYPE='activity'
		SELECT * FROM [CaseActivity] WHERE CASEID=@CASEID
	ELSE IF @PROFILETYPE='person'
		SELECT * FROM [CasePerson] WHERE CASEID=@CASEID
	ELSE IF @PROFILETYPE='item'
		SELECT * FROM [CaseItem] WHERE CASEID=@CASEID
END
GO
