USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[CREATE_PREDEFINED_VALUE]    Script Date: 8/4/2023 3:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[CREATE_PREDEFINED_VALUE](

@tableName NVARCHAR(MAX),

@value NVARCHAR(MAX))

AS

BEGIN
	DECLARE @QUERY NVARCHAR(MAX) = N'INSERT INTO [SIS_General].[dbo].'+@tableName+' ([Description]) VALUES('''+@value+''')'	

	EXEC SP_EXECUTESQL @QUERY

	DECLARE @SELECTQUERY NVARCHAR(MAX) = N'(SELECT * FROM '+@tableName+')'	

	EXEC SP_EXECUTESQL @SELECTQUERY

END
