USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[CREATE_CASE]    Script Date: 08/06/2023 13:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CREATE_CASE](@DESKID BIGINT, @SUBJECT BIGINT, @INITIATEDBY BIGINT)
AS
BEGIN
BEGIN TRANSACTION T1

INSERT INTO [CASE] (Desk, [Subject], InitiateBy, DateCreated, LastEdited,Status)
OUTPUT INSERTED.ID, INSERTED.DateCreated
VALUES(@DESKID, @SUBJECT, @INITIATEDBY, GETDATE(), GETDATE(), 'Active')

COMMIT TRANSACTION T1
END
GO
