USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[SET_SETTING]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SET_SETTING](@KEY NVARCHAR(MAX), @VALUE NVARCHAR(MAX))
AS
BEGIN

IF EXISTS (SELECT * FROM Settings WHERE [KEY]=@KEY)
	UPDATE Settings SET [VALUE]=@VALUE WHERE [Key]=@KEY
ELSE
	INSERT INTO SETTINGS([KEY],[VALUE]) VALUES(@KEY,@VALUE)

END
GO
