USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[CREATE_CASE_ITEM]    Script Date: 08/06/2023 13:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CREATE_CASE_ITEM](@JSON NVARCHAR(MAX))
AS
BEGIN

	--START -> DECLARING VARIABLES
	DECLARE @TR_CREATE_CASE_ITEM NVARCHAR(MAX)
	DECLARE @CASEITEM NVARCHAR(MAX)
	--END -> DECLARING VARIABLES

	BEGIN TRANSACTION @TR_CREATE_CASE_ITEM

		--INSERTING JSON ARRAY TO TEMP TABLE
		SELECT * INTO #PARSED FROM OPENJSON(@JSON)

		--GET THE DATA FROM TEMP TABLE & INSERTING TO CASEITEM TABLE
		SET @CASEITEM = (SELECT [VALUE] FROM #PARSED WHERE [KEY] = 'caseItem')
		INSERT INTO [dbo].[CaseItem](CaseID, IIC, AddedOn, AddedBy, Comment)
		SELECT * FROM OPENJSON(@CASEITEM)
		WITH(
			CaseID BIGINT '$.caseid',
			IIC BIGINT '$.iic',
			AddedOn datetime '$.addedOn',
			AddedBy NVARCHAR(MAX) '$.addedBy',
			Comment NVARCHAR(MAX) '$.comment'
		)

	COMMIT TRANSACTION @TR_CREATE_CASE_ITEM

END
GO
