USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_PREDEFINED_VALUE]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_PREDEFINED_VALUE](
@tableName NVARCHAR(MAX),
@id BIGINT,
@newValue NVARCHAR(MAX))
AS
BEGIN

	DECLARE @QUERY NVARCHAR(MAX) = 'UPDATE  SIS_General.dbo.'+@tableName+' SET DESCRIPTION = '''+@newValue+''' WHERE ID = '+CONVERT(NVARCHAR(MAX),@id)
	--SELECT @QUERY
	EXEC SP_EXECUTESQL @QUERY
END
	DECLARE @SELECTQUERY NVARCHAR(MAX) = N'SELECT * FROM '+@tableName+''
EXEC SP_EXECUTESQL @SELECTQUERY
GO
