USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_CASE_PROFILE_SERIALS]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_CASE_PROFILE_SERIALS](
@CASEID BIGINT, @VOLUME NVARCHAR(MAX), @SERIAL NVARCHAR(MAX)
)
AS
BEGIN
--GET THE PROFILES OF THE CASE
--APPEND TOGETHER AND MAKE THE SERIAL (THE SFNO AND THE VOLUME/SERIAL)
--ADD TO ALL THE PROFILES

--DECLARE @CASEID BIGINT  = 11791
--DECLARE @VOLUME NVARCHAR(MAX) = 'V1234'
--DECLARE @SERIAL NVARCHAR(MAX) = 'S2333'
DECLARE @WHOLESERIAL NVARCHAR(MAX) = ISNULL((SELECT SFNO FROM [CASE] WHERE ID=@CASEID),'')+''+@VOLUME+''+@SERIAL
DECLARE @FILETYPE NVARCHAR(MAX) = 'Other Files'
DECLARE @PIC BIGINT

-- DELETE PEOPLE FILE REFERENCES
DELETE FROM SIS_Person.dbo.FileReferences WHERE FileReference  LIKE '%'+ ISNULL((SELECT SFNO FROM [CASE] WHERE ID=@CASEID),'')+'%' and  PIC IN (SELECT PIC FROM [CASEPERSON] WHERE CASEID = @CASEID);

-- DELETE ACTIVITY FILE REFERENCES
DELETE FROM SIS_Activity.dbo.FileReferences WHERE FileReference  LIKE '%'+ISNULL((SELECT SFNO FROM [CASE] WHERE ID=@CASEID),'')+'%' and  AIC IN (SELECT AIC FROM CaseActivity WHERE CASEID = @CASEID);

-- DELETE ITEMS FILE REFERENCES
DELETE FROM SIS_Item.dbo.FileReferences WHERE FileReference  LIKE '%'+ISNULL((SELECT SFNO FROM [CASE] WHERE ID=@CASEID),'')+'%' and  IIC IN (SELECT IIC FROM CaseItem WHERE CASEID = @CASEID);

-- DELETE ORGANIZATION FILE REFERENCES
DELETE FROM SIS_Organization.dbo.FileReferences WHERE FileReference  LIKE '%'+ISNULL((SELECT SFNO FROM [CASE] WHERE ID=@CASEID),'')+'%' and OIC IN (SELECT OIC FROM [CaseOrganization] WHERE CASEID = @CASEID);



-- ADDING PEOPLE FILE REFERENCES
INSERT INTO SIS_Person.dbo.FileReferences(PIC,FileType, FileReference)
(SELECT PIC, @FILETYPE, @WHOLESERIAL FROM [CASEPERSON]
WHERE CASEID = @CASEID)

-- ADDING ACTIVITY FILE REFERENCES
INSERT INTO SIS_Activity.dbo.FileReferences(AIC,FileReference)
(SELECT AIC, @WHOLESERIAL FROM CaseActivity
WHERE CASEID = @CASEID)
--SELECT  FROM SIS_Activity.dbo.FileReferences


-- ADDING ITEMS FILE REFERENCES
INSERT INTO SIS_Item.dbo.FileReferences(IIC,FileReference)
(SELECT IIC, @WHOLESERIAL FROM CaseItem
WHERE CASEID = @CASEID)
--SELECT  FROM SIS_Item.dbo.FileReferences


-- ADDING ORGANIZATION FILE REFERENCES
INSERT INTO SIS_Organization.dbo.FileReferences(OIC,FileReference)
(SELECT OIC, @WHOLESERIAL FROM CaseOrganization
WHERE CASEID = @CASEID)
--SELECT  FROM SIS_Organization.dbo.FileReferences

UPDATE [CASE] SET LastEdited = GETDATE() WHERE ID=@CASEID

END
GO
