USE [SIS_General]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_CASE_SERIAL]    Script Date: 08/06/2023 13:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_CASE_SERIAL](@CASEID BIGINT, @SERIALNUMBER VARCHAR(MAX), @SERIALADDEDBY BIGINT)
AS
BEGIN
	UPDATE [CASE]
	SET SERIALNUMBER = @SERIALNUMBER,
		SERIALADDEDBY = @SERIALADDEDBY,
		SERIALADDEDON = GETDATE()
	WHERE ID=@CASEID

	UPDATE [CASE] SET LastEdited = GETDATE() WHERE ID=@CASEID
END
GO
