USE [SIS_Person]
GO
/****** Object:  StoredProcedure [dbo].[GET_PERSON]    Script Date: 8/8/2023 7:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE  [dbo].[GET_PERSON](@PIC BIGINT)
AS
BEGIN

	--START -> DECLARING VARIABLES
	DECLARE @ADDRESS NVARCHAR(MAX)
	DECLARE @ALIASES NVARCHAR(MAX)
	DECLARE @AKA NVARCHAR(MAX)
	DECLARE @ALLTRAVELPARTICULARS NVARCHAR(MAX)
	DECLARE @ASYLUMSEEKER NVARCHAR(MAX)
	DECLARE @CARDINGDETAILS NVARCHAR(MAX)
	DECLARE @CONVEYANCES NVARCHAR(MAX)
	DECLARE @COURTCASES NVARCHAR(MAX)
	DECLARE @CURRENTSTATUS NVARCHAR(MAX)
	DECLARE @EDUCATION NVARCHAR(MAX)
	DECLARE @FILEREFERENCES NVARCHAR(MAX)
	DECLARE @IDENTIFICATION NVARCHAR(MAX)
	DECLARE @NARRATIVEINFORMATION NVARCHAR(MAX)
	DECLARE @NATIONALITY NVARCHAR(MAX)
	DECLARE @OCCUPATIONS NVARCHAR(MAX)
	DECLARE @ORGANIZATIONS NVARCHAR(MAX)
	DECLARE @PERSONINFORMATION NVARCHAR(MAX)
	DECLARE @PHOTOGRAPHS NVARCHAR(MAX)
	DECLARE @PHOTOGRAPHSOTHERDETAILS NVARCHAR(MAX)
	DECLARE @RELATIVES NVARCHAR(MAX)
	DECLARE @REALTEDACTIVITIES NVARCHAR(MAX)
	DECLARE @RELATEDITEMS NVARCHAR(MAX)
	DECLARE @SOCIALMEDIA NVARCHAR(MAX)
	DECLARE @SPECIALPECULIARITIES NVARCHAR(MAX)
	DECLARE @SPECIALSKILLS NVARCHAR(MAX)
	DECLARE @SYSTEMDETAILS NVARCHAR(MAX)
	DECLARE @TRAVELINFORMATION NVARCHAR(MAX)
	DECLARE @WEAKNESSES NVARCHAR(MAX)
	DECLARE @SECURITYCLASSIFICATIONS NVARCHAR(MAX)
	DECLARE @DETENTIONPLACES NVARCHAR(MAX)
	DECLARE @ROLEWISEACCESSRESTRICTIONS NVARCHAR(MAX)
	--END -> DECLARING VARIABLES

	--SET PARTIAL JSON FOR ADDRESS
	SET @ADDRESS =
	(SELECT ISNULL((SELECT * FROM [dbo].[Addresses] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @ADDRESS = CONCAT('Addresses:',@ADDRESS)

	--SET PARTIAL JSON FOR ALIASES
	SET @ALIASES =
	(SELECT ISNULL((SELECT * FROM [dbo].[Aliases] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @ALIASES = CONCAT('Aliases:',@ALIASES)

	--SET PARTIAL JSON FOR AKA
	SET @AKA =
	(SELECT ISNULL((SELECT * FROM [dbo].[AKA] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @AKA = CONCAT('aka:',@AKA)

	--SET PARTIAL JSON FOR ALLTRAVELPARTICULARS
	SET @ALLTRAVELPARTICULARS =
	(SELECT ISNULL((SELECT * FROM [dbo].[AllTravelParticulars] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @ALLTRAVELPARTICULARS = CONCAT('AllTravelParticulars:',@ALLTRAVELPARTICULARS)

	--SET PARTIAL JSON FOR ASYLUMSEEKER
	SET @ASYLUMSEEKER =
	(SELECT ISNULL((SELECT * FROM [dbo].[AsylumSeeker] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @ASYLUMSEEKER = CONCAT('AsylumSeeker:',@ASYLUMSEEKER)

	--SET PARTIAL JSON FOR CARDINGDETAILS
	SET @CARDINGDETAILS =
	(SELECT ISNULL((SELECT * FROM [dbo].[CardingDetails] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @CARDINGDETAILS = CONCAT('CardingDetails:',@CARDINGDETAILS)

	--SET PARTIAL JSON FOR CONVEYANCES
	SET @CONVEYANCES =
	(SELECT ISNULL((SELECT * FROM [dbo].[Conveyances] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @CONVEYANCES = CONCAT('Conveyances:',@CONVEYANCES)

	--SET PARTIAL JSON FOR COURTCASES

	SET @COURTCASES =
	(SELECT ISNULL((
					SELECT *
					  FROM (SELECT CC.*,A.DescriptionOfTheActivity
							  FROM [dbo].[CourtCases] CC
							LEFT OUTER JOIN [SIS_Activity].[dbo].[ActivityInformation] A
										 ON CC.AIC = A.AIC
						   )x
					 WHERE x.PIC = @PIC FOR JSON AUTO),'[]'))
	SET @COURTCASES = CONCAT('CourtCases:',@COURTCASES)

	--SET PARTIAL JSON FOR CURRENTSTATUS
	SET @CURRENTSTATUS =
	(SELECT ISNULL((SELECT * FROM [dbo].[CurrentStatus] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @CURRENTSTATUS = CONCAT('CurrentStatus:',@CURRENTSTATUS)

	--SET PARTIAL JSON FOR EDUCATION
	SET @EDUCATION =
	(SELECT ISNULL((SELECT * FROM [dbo].[Education] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @EDUCATION = CONCAT('Education:',@EDUCATION)

	--SET PARTIAL JSON FOR FILEREFERENCES
	SET @FILEREFERENCES =
	(SELECT ISNULL((SELECT * FROM [dbo].[FileReferences] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @FILEREFERENCES = CONCAT('FileReferences:',@FILEREFERENCES)

	--SET PARTIAL JSON FOR IDENTIFICATION
	SET @IDENTIFICATION =
	(SELECT ISNULL((SELECT * FROM [dbo].[Identification] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @IDENTIFICATION = CONCAT('Identification:',@IDENTIFICATION)

	--SET PARTIAL JSON FOR NARRATIVEINFORMATION
	SET @NARRATIVEINFORMATION =
	(SELECT ISNULL((SELECT * FROM [dbo].[NarrativeInformation] with(nolock) WHERE PIC = @PIC ORDER BY [Date] FOR JSON AUTO),'[]'))
	SET @NARRATIVEINFORMATION = CONCAT('NarrativeInformation:',@NARRATIVEINFORMATION)

	--SET PARTIAL JSON FOR NATIONALITY
	SET @NATIONALITY =
	(SELECT ISNULL((SELECT * FROM [dbo].[Nationality] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @NATIONALITY = CONCAT('Nationality:',@NATIONALITY)

	--SET PARTIAL JSON FOR OCCUPATIONS
	SET @OCCUPATIONS =
	(SELECT ISNULL((SELECT * FROM [dbo].[Occupations] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @OCCUPATIONS = CONCAT('Occupations:',@OCCUPATIONS)

	--SET PARTIAL JSON FOR ORGANIZATIONS
	SET @ORGANIZATIONS =
	(SELECT ISNULL((SELECT * FROM [dbo].[Organizations] AS o with(nolock) 
					INNER JOIN [SIS_Organization].[dbo].[SystemDetails] AS sd ON o.OIC = sd.OIC
					WHERE IsDeleted = 0 AND PIC = @PIC FOR JSON AUTO),'[]'))
	SET @ORGANIZATIONS = CONCAT('Organizations:',@ORGANIZATIONS)

	--SET PARTIAL JSON FOR PERSONINFORMATION
	SET @PERSONINFORMATION =
	(SELECT ISNULL((SELECT * FROM [dbo].[PersonInformation] with(nolock) WHERE PIC = @PIC FOR JSON AUTO,WITHOUT_ARRAY_WRAPPER),'{}'))
	SET @PERSONINFORMATION = CONCAT('PersonInformation:',@PERSONINFORMATION)

	--SET PARTIAL JSON FOR PHOTOGRAPHS
	SET @PHOTOGRAPHS =
	(SELECT ISNULL((SELECT * FROM [dbo].[Photographs] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @PHOTOGRAPHS = CONCAT('Photographs:',@PHOTOGRAPHS)

	--SET PARTIAL JSON FOR PHOTOGRAPHSOTHERDETAILS
	SET @PHOTOGRAPHSOTHERDETAILS =
	(SELECT ISNULL((SELECT * FROM [dbo].[PhotographsOtherDetails] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @PHOTOGRAPHSOTHERDETAILS = CONCAT('PhotographsOtherDetails:',@PHOTOGRAPHSOTHERDETAILS)

	--SET PARTIAL JSON FOR RELATIVES
	SET @RELATIVES =
	(SELECT ISNULL((SELECT * FROM [dbo].[Realtives] AS r with(nolock) INNER JOIN [dbo].[SystemDetails] AS sd ON r.RelativesPIC = sd.PIC WHERE r.PIC = @PIC AND IsDeleted = 0 FOR JSON AUTO),'[]'))
	SET @RELATIVES = CONCAT('Relatives:',@RELATIVES)

	--SET PARTIAL JSON FOR REALTEDACTIVITIES
	--SET @REALTEDACTIVITIES =
	--(SELECT ISNULL((SELECT * FROM [dbo].[RelatedActivities] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	--SET @REALTEDACTIVITIES = CONCAT('RelatedActivities:',@REALTEDACTIVITIES)


	--SET PARTIAL JSON FOR PRESIDEDOVERBY
	SET @REALTEDACTIVITIES =
	(SELECT ISNULL((
					SELECT *
					  FROM (SELECT RA.*,DescriptionOfTheActivity
							  FROM [dbo].[RelatedActivities] RA
							LEFT OUTER JOIN [SIS_Activity].[dbo].[ActivityInformation] A
										 ON RA.AIC = A.AIC
										 LEFT OUTER JOIN [SIS_Activity].[dbo].[SystemDetails] AS SD ON RA.AIC = SD.AIC WHERE SD.IsDeleted = 0
						   )x
					 WHERE x.PIC = @PIC FOR JSON AUTO),'[]'))
	SET @REALTEDACTIVITIES = CONCAT('RelatedActivities:',@REALTEDACTIVITIES)



	--SET PARTIAL JSON FOR RELATEDITEMS
	SET @RELATEDITEMS =
	(SELECT ISNULL((SELECT * FROM [dbo].[RelatedItems] AS ri with(nolock) INNER JOIN [SIS_Item].[dbo].[SystemDetails] AS sd
					ON ri.IIC = sd.IIC 
					WHERE IsDeleted = 0 AND PIC = @PIC FOR JSON AUTO),'[]'))
	SET @RELATEDITEMS = CONCAT('RelatedItems:',@RELATEDITEMS)

	--SET PARTIAL JSON FOR SOCIALMEDIA
	SET @SOCIALMEDIA =
	(SELECT ISNULL((SELECT * FROM [dbo].[SocialMediaDetails] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @SOCIALMEDIA = CONCAT('SocialMediaDetails:',@SOCIALMEDIA)

	--SET PARTIAL JSON FOR SPECIALPECULIARITIES
	SET @SPECIALPECULIARITIES =
	(SELECT ISNULL((SELECT * FROM [dbo].[SpecialPeculiarities] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @SPECIALPECULIARITIES = CONCAT('SpecialPeculiarities:',@SPECIALPECULIARITIES)

	--SET PARTIAL JSON FOR SPECIALSKILLS
	SET @SPECIALSKILLS =
	(SELECT ISNULL((SELECT * FROM [dbo].[SpecialSkills] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @SPECIALSKILLS = CONCAT('SpecialSkills:',@SPECIALSKILLS)

	--SET PARTIAL JSON FOR SYSTEMDETAILS
	SET @SYSTEMDETAILS =
	(SELECT ISNULL((SELECT s.*,
	(SELECT [DESCRIPTION] FROM SIS_GENERAL.DBO.PREDEFINED_DESKTARGET WHERE ID = S.Desk) AS DeskName,
	(SELECT [DESCRIPTION] FROM SIS_GENERAL.DBO.Predefined_Subjects WHERE ID = S.Subject) AS SubjectName
	  FROM [dbo].[SystemDetails] s with(nolock) WHERE PIC = @PIC FOR JSON AUTO,WITHOUT_ARRAY_WRAPPER),'{}'))
	SET @SYSTEMDETAILS = CONCAT('SystemDetails:',@SYSTEMDETAILS)

	--SET PARTIAL JSON FOR TRAVELINFORMATION
	SET @TRAVELINFORMATION =
	(SELECT ISNULL((SELECT * FROM [dbo].[TravelInformation] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @TRAVELINFORMATION = CONCAT('TravelInformation:',@TRAVELINFORMATION)
	
	--SET PARTIAL JSON FOR WEAKNESSES
	SET @WEAKNESSES =
	(SELECT ISNULL((SELECT * FROM [dbo].[Weaknesses] with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @WEAKNESSES = CONCAT('Weaknesses:',@WEAKNESSES)
	
	--SET PARTIAL JSON FOR @SECURITYCLASSIFICATIONS
	SET @SECURITYCLASSIFICATIONS =
	(SELECT ISNULL((SELECT * FROM [dbo].SecurityClassifications with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @SECURITYCLASSIFICATIONS = CONCAT('SecurityClassifications:',@SECURITYCLASSIFICATIONS)

	--SET PARTIAL JSON FOR WEAKNESSES
	SET @DETENTIONPLACES =
	(SELECT ISNULL((SELECT * FROM [dbo].DetentionPlace with(nolock) WHERE PIC = @PIC FOR JSON AUTO),'[]'))
	SET @DETENTIONPLACES = CONCAT('DetentionPlace:',@DETENTIONPLACES)

	--SET PARTIAL JSON FOR ACCESSRESTRICTIONS 
	SET @ROLEWISEACCESSRESTRICTIONS =
	(SELECT ISNULL((SELECT * FROM [dbo].[DirectAndRoleWiseAccessRestrictions] with(nolock) WHERE PIC = @PIC FOR JSON AUTO,WITHOUT_ARRAY_WRAPPER),'{}'))
	SET @ROLEWISEACCESSRESTRICTIONS = CONCAT('RoleWiseAccessRestrictions:',@ROLEWISEACCESSRESTRICTIONS)

	SELECT CONCAT('{',@ADDRESS,',',@ALIASES,',',@AKA,',',@ALLTRAVELPARTICULARS,',',@ASYLUMSEEKER,',',@DETENTIONPLACES,',',@CARDINGDETAILS,',',@CONVEYANCES,',',@COURTCASES,',',@CURRENTSTATUS,',',@EDUCATION,',',@FILEREFERENCES,',',@IDENTIFICATION,',',@NARRATIVEINFORMATION,',',@NATIONALITY,',',@OCCUPATIONS,',',@ORGANIZATIONS,',',@PERSONINFORMATION,',',@PHOTOGRAPHS,',',@PHOTOGRAPHSOTHERDETAILS,',',@RELATIVES,',',@REALTEDACTIVITIES,',',@RELATEDITEMS,',',@SOCIALMEDIA,',',@SPECIALPECULIARITIES,',',@SPECIALSKILLS,',',@SYSTEMDETAILS,',',@TRAVELINFORMATION,',',@SECURITYCLASSIFICATIONS,',',@WEAKNESSES,',',@ROLEWISEACCESSRESTRICTIONS,'}')

END

--[GET_PERSON] 1
